 


 {% extends "base.html" %}
 {% block content  %}
 
 
 
  <main>
    <!-- ===== SignUp Form Start ===== -->
    <section class="i pg fh rm ki xn vq gj qp gr hj rp hr">
      {% comment %} <!-- Bg Shapes -->
      <img src="/static/images/shape-06.svg" alt="Shape" class="h j k" />
      <img src="/static/images/shape-03.svg" alt="Shape" class="h l m" />
      <img src="/static/images/shape-17.svg" alt="Shape" class="h n o" />
      <img src="/static/images/shape-18.svg" alt="Shape" class="h p q" /> {% endcomment %}

      <div class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp">
        <!-- Bg Border -->
        <span class="rc h r s zd/2 od zg gh"></span>
        <span class="rc h r q zd/2 od xg mh"></span>

        <div class="rj">
          <h2 class="ek ck kk wm xb">Create an Account</h2>
         

         
        </div>
         {% if messages %}

            {% for message in messages %}
             <div class="alert alert-danger" role="alert" style="text-align:center;margin-left:20px; 
             margin-top:20px;margin-right:20px;background-color: red;">
              
                {{ message }}
                </div>    
                {% endfor %}
            
            {% endif %}

        <form class="sb" action="" method="post">
          {% csrf_token %}
          <div class="wb">
            <label class="rc kk wm vb" for="fullname">UserName</label>
            <input type="text" name="username" id="fullname" placeholder="Enter User Name... "
              class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40" />
          </div>

          <div class="wb">
            <label class="rc kk wm vb" for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="example@gmail.com"
              class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40" />
          </div>

          <div class="wb">
            <label class="rc kk wm vb" for="password">Password</label>
            <input type="password" name="password" id="password1" placeholder="**************"
              class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40" />
          </div>
          

          <button  type ="submit "class="vd rj ek rc rg gh lk ml il _l gi hi">
            Sign Up
          </button>

          <p class="sj hk xj rj ob">
            Already have an account?
            <a class="mk" href="{% url "login" %}"> Sign In </a>
          </p>
        </form>
      </div>
    </section>
    <!-- ===== SignUp Form End ===== -->
  </main>
 
 {% endblock  %} 


 